svg {
    font: 10px sans-serif;
    padding: 25px;
}

.axis line {
    stroke: #ddd;
    stroke-opacity: 0.3;
    shape-rendering: crispEdges;
}

.axis path {
    display: none;
    fill: none;
    stroke: #000;
}

.chord {
    stroke: black;
    stroke-width: 0.4;
    opacity: 0.7;
}

circle.chord {
    fill: black;
}

circle.guide {
    fill: none;
    stroke: gray;
    stroke-width: 1;
    stroke-dasharray: 1,1;
    stroke-width: .3;
    fill-opacity: .5;
}

circle.hidden {
    fill: #ccc !important;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 90px;
    height: 70px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    /*display:block;*/
}

/*.links line {*/
    /*stroke: #999;*/
    /*stroke-opacity: 0.6;*/
/*}*/

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}

button {
    position: absolute;
    width: 30px;
}

button#advance {
    margin-left: 25px;
}

button#slow {
    margin-left: 65px;
}

button#play {
    margin-left: 105px;
}

button#reset {
    margin-left: 145px;
}